In [40]:
import pandas as pd

df=pd.read_csv('portugal_listinigs.csv',low_memory=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135536 entries, 0 to 135535
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Price                  135236 non-null  float64
 1   District               135536 non-null  object
 2   City                   135536 non-null  object
 3   Town                   135534 non-null  object
 4   Type                   135520 non-null  object
 5   EnergyCertificate      135522 non-null  object
 6   GrossArea              27638 non-null   float64
 7   TotalArea              127153 non-null  float64
 8   Parking                135342 non-null  float64
 9   HasParking             68215 non-null   object
 10  Floor                  27929 non-null   object
 11  ConstructionYear       88021 non-null   float64
 12  EnergyEfficiencyLevel  67289 non-null   object
 13  PublishDate            29239 non-null   object
 14  Garage                 67289 non-null   object
 15  Elevator               135504 non-null  object
 16  ElectricCarsCharging   67289 non-null   object
 17  TotalRooms             73244 non-null   float64
 18  NumberOfBedrooms       47041 non-null   float64
 19  NumberOfWC             57256 non-null   float64
 20  ConservationStatus     19292 non-null   object
 21  LivingArea             104952 non-null  float64
 22  LotSize                39583 non-null   float64
 23  BuiltArea              26617 non-null   float64
 24  NumberOfBathrooms      128700 non-null  float64
dtypes: float64(12), object(13)
memory usage: 25.9+ MB

In [41]:
# Excluindo as colunas especificadas
colunas_para_apagar = ['GrossArea', 'HasParking', 'Floor', 'EnergyEfficiencyLevel', 
                       'ElectricCarsCharging', 'NumberOfWC', 'ConservationStatus', 
                       'LotSize', 'BuiltArea']

# Remover as colunas
df = df.drop(columns=colunas_para_apagar)

# Exibindo as primeiras linhas para verificar se as colunas foram removidas
print(df.head())

      Price   District                  City  \
0  780000.0  Vila Real              Valpaços
1  223000.0       Faro  São Brás de Alportel
2  228000.0       Faro  São Brás de Alportel
3  250000.0       Faro  São Brás de Alportel
4  250000.0       Faro  São Brás de Alportel

                               Town       Type EnergyCertificate  TotalArea  \
0  Carrazedo de Montenegro e Curros       Farm                NC   552450.0
1              São Brás de Alportel  Apartment                A+       81.0
2              São Brás de Alportel  Apartment                A+      108.0
3              São Brás de Alportel  Apartment                A+      114.0
4              São Brás de Alportel  Apartment                A+      114.0

   Parking  ConstructionYear PublishDate Garage Elevator  TotalRooms  \
0      0.0               NaN         NaN    NaN    False         NaN
1      1.0               NaN         NaN    NaN     True         2.0
2      1.0               NaN         NaN    NaN     True         2.0
3      1.0               NaN         NaN    NaN     True         2.0
4      1.0               NaN         NaN    NaN     True         2.0

   NumberOfBedrooms  LivingArea  NumberOfBathrooms
0               NaN       120.0                0.0
1               NaN        81.0                2.0
2               NaN       108.0                2.0
3               NaN       114.0                0.0
4               NaN       114.0                2.0

In [42]:
# Definindo as colunas que você deseja alterar os valores nulos
colunas_para_preencher = ['Town', 'Type', 'EnergyCertificate', 'Parking', 
                          'ConstructionYear', 'Garage', 'Elevator', 
                          'TotalRooms', 'NumberOfBedrooms', 'NumberOfBathrooms']

# Preenchendo os valores nulos nas colunas com a string 'Unknown'
df[colunas_para_preencher] = df[colunas_para_preencher].fillna('Unknown')

# Exibindo as primeiras linhas para verificar
print(df.head())

      Price   District                  City  \
0  780000.0  Vila Real              Valpaços
1  223000.0       Faro  São Brás de Alportel
2  228000.0       Faro  São Brás de Alportel
3  250000.0       Faro  São Brás de Alportel
4  250000.0       Faro  São Brás de Alportel

                               Town       Type EnergyCertificate  TotalArea  \
0  Carrazedo de Montenegro e Curros       Farm                NC   552450.0
1              São Brás de Alportel  Apartment                A+       81.0
2              São Brás de Alportel  Apartment                A+      108.0
3              São Brás de Alportel  Apartment                A+      114.0
4              São Brás de Alportel  Apartment                A+      114.0

  Parking ConstructionYear PublishDate   Garage Elevator TotalRooms  \
0     0.0          Unknown         NaN  Unknown    False    Unknown
1     1.0          Unknown         NaN  Unknown     True        2.0
2     1.0          Unknown         NaN  Unknown     True        2.0
3     1.0          Unknown         NaN  Unknown     True        2.0
4     1.0          Unknown         NaN  Unknown     True        2.0

  NumberOfBedrooms  LivingArea NumberOfBathrooms
0          Unknown       120.0               0.0
1          Unknown        81.0               2.0
2          Unknown       108.0               2.0
3          Unknown       114.0               0.0
4          Unknown       114.0               2.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135536 entries, 0 to 135535
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Price              135236 non-null  float64
 1   District           135536 non-null  object
 2   City               135536 non-null  object
 3   Town               135536 non-null  object
 4   Type               135536 non-null  object
 5   EnergyCertificate  135536 non-null  object
 6   TotalArea          127153 non-null  float64
 7   Parking            135536 non-null  object
 8   ConstructionYear   135536 non-null  object
 9   PublishDate        29239 non-null   object
 10  Garage             135536 non-null  object
 11  Elevator           135536 non-null  object
 12  TotalRooms         135536 non-null  object
 13  NumberOfBedrooms   135536 non-null  object
 14  LivingArea         104952 non-null  float64
 15  NumberOfBathrooms  135536 non-null  object
dtypes: float64(3), object(13)
memory usage: 16.5+ MB

In [44]:
# Agrupar os dados pelas colunas "Type" e calcular a media de "TotalArea"
media_totalarea = df.groupby(['Type'])['TotalArea'].mean()
 
# Função para preencher os valores nulos com a média calculada
def preencher_totalarea(row):
    if pd.isnull(row['TotalArea']):
        # Tenta obter a média com base nas 4 colunas
        return media_totalarea.get((row['Type']))
    return row['TotalArea']
 
# Aplicando a função para preencher os valores nulos
df['TotalArea'] = df.apply(preencher_totalarea, axis=1)
 
# Exibindo as primeiras linhas para verificar
print(df.head())

      Price   District                  City  \
0  780000.0  Vila Real              Valpaços
1  223000.0       Faro  São Brás de Alportel
2  228000.0       Faro  São Brás de Alportel
3  250000.0       Faro  São Brás de Alportel
4  250000.0       Faro  São Brás de Alportel

                               Town       Type EnergyCertificate  TotalArea  \
0  Carrazedo de Montenegro e Curros       Farm                NC   552450.0
1              São Brás de Alportel  Apartment                A+       81.0
2              São Brás de Alportel  Apartment                A+      108.0
3              São Brás de Alportel  Apartment                A+      114.0
4              São Brás de Alportel  Apartment                A+      114.0

  Parking ConstructionYear PublishDate   Garage Elevator TotalRooms  \
0     0.0          Unknown         NaN  Unknown    False    Unknown
1     1.0          Unknown         NaN  Unknown     True        2.0
2     1.0          Unknown         NaN  Unknown     True        2.0
3     1.0          Unknown         NaN  Unknown     True        2.0
4     1.0          Unknown         NaN  Unknown     True        2.0

  NumberOfBedrooms  LivingArea NumberOfBathrooms
0          Unknown       120.0               0.0
1          Unknown        81.0               2.0
2          Unknown       108.0               2.0
3          Unknown       114.0               0.0
4          Unknown       114.0               2.0

In [45]:
# Agrupar os dados pelas colunas "Type" e calcular a media de "LivingArea"
media_livingarea = df.groupby(['Type'])['LivingArea'].mean()
 
# Função para preencher os valores nulos com a média calculada
def preencher_livingarea(row):
    if pd.isnull(row['LivingArea']):
        # Tenta obter a média com base nas 4 colunas
        return media_livingarea.get((row['Type']))
    return row['LivingArea']
 
# Aplicando a função para preencher os valores nulos
df['LivingArea'] = df.apply(preencher_livingarea, axis=1)
 
# Exibindo as primeiras linhas para verificar
print(df.head())

      Price   District                  City  \
0  780000.0  Vila Real              Valpaços
1  223000.0       Faro  São Brás de Alportel
2  228000.0       Faro  São Brás de Alportel
3  250000.0       Faro  São Brás de Alportel
4  250000.0       Faro  São Brás de Alportel

                               Town       Type EnergyCertificate  TotalArea  \
0  Carrazedo de Montenegro e Curros       Farm                NC   552450.0
1              São Brás de Alportel  Apartment                A+       81.0
2              São Brás de Alportel  Apartment                A+      108.0
3              São Brás de Alportel  Apartment                A+      114.0
4              São Brás de Alportel  Apartment                A+      114.0

  Parking ConstructionYear PublishDate   Garage Elevator TotalRooms  \
0     0.0          Unknown         NaN  Unknown    False    Unknown
1     1.0          Unknown         NaN  Unknown     True        2.0
2     1.0          Unknown         NaN  Unknown     True        2.0
3     1.0          Unknown         NaN  Unknown     True        2.0
4     1.0          Unknown         NaN  Unknown     True        2.0

  NumberOfBedrooms  LivingArea NumberOfBathrooms
0          Unknown       120.0               0.0
1          Unknown        81.0               2.0
2          Unknown       108.0               2.0
3          Unknown       114.0               0.0
4          Unknown       114.0               2.0

In [46]:
# Agrupar os dados pelas colunas "Type", "District", "City", "Town" e "TotalArea" e calcular a média de "Price"
media_preco = df.groupby(['Type', 'District', 'City', 'Town', 'TotalArea'])['Price'].mean()
 
# Função para preencher os valores nulos com a média calculada
def preencher_preco(row):
    if pd.isnull(row['Price']):
        # Tenta obter a média com base nas 4 colunas
        return media_preco.get((row['Type'], row['District'], row['City'], row['Town'], row['TotalArea']), row['Price'])
    return row['Price']
 
# Aplicando a função para preencher os valores nulos
df['Price'] = df.apply(preencher_preco, axis=1)
 
# Exibindo as primeiras linhas para verificar
print(df.head())

      Price   District                  City  \
0  780000.0  Vila Real              Valpaços
1  223000.0       Faro  São Brás de Alportel
2  228000.0       Faro  São Brás de Alportel
3  250000.0       Faro  São Brás de Alportel
4  250000.0       Faro  São Brás de Alportel

                               Town       Type EnergyCertificate  TotalArea  \
0  Carrazedo de Montenegro e Curros       Farm                NC   552450.0
1              São Brás de Alportel  Apartment                A+       81.0
2              São Brás de Alportel  Apartment                A+      108.0
3              São Brás de Alportel  Apartment                A+      114.0
4              São Brás de Alportel  Apartment                A+      114.0

  Parking ConstructionYear PublishDate   Garage Elevator TotalRooms  \
0     0.0          Unknown         NaN  Unknown    False    Unknown
1     1.0          Unknown         NaN  Unknown     True        2.0
2     1.0          Unknown         NaN  Unknown     True        2.0
3     1.0          Unknown         NaN  Unknown     True        2.0
4     1.0          Unknown         NaN  Unknown     True        2.0

  NumberOfBedrooms  LivingArea NumberOfBathrooms
0          Unknown       120.0               0.0
1          Unknown        81.0               2.0
2          Unknown       108.0               2.0
3          Unknown       114.0               0.0
4          Unknown       114.0               2.0

In [47]:
df.isna().sum()

Price                   185
District                  0
City                      0
Town                      0
Type                      0
EnergyCertificate         0
TotalArea                 0
Parking                   0
ConstructionYear          0
PublishDate          106297
Garage                    0
Elevator                  0
TotalRooms                0
NumberOfBedrooms          0
LivingArea                0
NumberOfBathrooms         0
dtype: int64

In [48]:
# Remover as linhas que ainda têm valores nulos na coluna 'Price'
df = df.dropna(subset=['Price'])

In [49]:
df.isna().sum()

Price                     0
District                  0
City                      0
Town                      0
Type                      0
EnergyCertificate         0
TotalArea                 0
Parking                   0
ConstructionYear          0
PublishDate          106124
Garage                    0
Elevator                  0
TotalRooms                0
NumberOfBedrooms          0
LivingArea                0
NumberOfBathrooms         0
dtype: int64

In [50]:
df.to_csv('portugal_listinigs_modificado.csv', index=False)